@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

@forward "partials/typography";
@use "partials/utilities" as localUtilities;

body {
  @apply font-body text-base leading-6 font-normal text-black antialiased;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  font-feature-settings:
    'liga' off,
    'clig' off;
}

.router-link-active {
  @apply text-gold underline;
}

.corner-borders {
  &::after,
  &::before {
    @apply absolute w-6 h-6 border-2 border-gold-dark z-[2];
    content: '';
  }

  &::before {
    @apply -top-4 -left-4 border-r-0 border-b-0;
  }

  &::after {
    @apply -bottom-4 -right-4 border-l-0 border-t-0;
  }
}
